body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 15px;
    padding: 12px 15px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.icon {
    text-align: center;
}

.icon svg {
    margin-bottom: 10px;
} 


#control {
    position: relative; /* Относительное позиционирование для контейнера */
}

.icon {
    position: absolute; /* Абсолютное позиционирование для иконок */
    text-align: center; /* Центрирование текста под иконкой */
}

.battery-icon {
    top: 4px;  /* Вертикальная позиция */
    left: 170px; /* Горизонтальная позиция */
}

.inverter-icon {
    top: 33px;
    left: 60px;
}

.power-grid-icon {
    top: 15px;
    left: 0px;
}

.icon svg {
    display: block;
    margin: 0 auto; /* Для центрирования SVG внутри блока */
}

.icon p {
    margin-top: 5px;
    font-size: 12px;
}
