body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 14px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    max-width: 600px;
    width: 100%;
    text-align: center;
    max-height: 80vh; /* Ограничьте высоту контейнера */
   
}


 /* Стили для контейнера вкладок */
.tabs {
    display: flex; /* Вкладки располагаются в строку */
    border-bottom: 1px solid #ccc; /* Нижняя граница под вкладками */
    width: 100%; /* Вкладки занимают всю ширину контейнера */
    box-sizing: border-box; /* Учет padding и border в ширину */
    margin: 0;
    padding: 0;
    max-height: 80vh;
}

/* Стили для каждой вкладки */
.tab {
    flex: 1; /* Вкладки занимают равную ширину */
    text-align: center; /* Центрируем текст внутри вкладок */
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc; /* Горизонтальная граница между вкладками */
    box-sizing: border-box; /* Учет padding и border в ширину */
}
/* Убираем правую границу у последней вкладки */
.tab:last-child {
    border-right: none;
}

/* Контент вкладок */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none; /* Убираем верхнюю границу, чтобы она не пересекалась с вкладками */
    margin-top: 0;
    padding: 10px;
    width: 100%; /* Ширина ограничивается размерами экрана */
    box-sizing: border-box; /* Учет padding и border в ширину */
    max-height: 80vh;
}

/* Стиль для активной вкладки */
.tab.active {
    background-color: #2ccb32;
    border-bottom: 1px solid #fff; /* Имитируем активную вкладку */
}

/* Активный контент вкладки */
.tabcontent.active {
    display: block;
}
.inner-content {
    width: 100%; /* Убедитесь, что внутренний контейнер также занимает всю ширину */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

/* Стиль для контейнера графика */
#chartContainer {
    width: 100%;
    height: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #4de752;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
    display: block;
    padding: 12px 15px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 10px; /* Уменьшаем нижний отступ между полями */
    width: 100%; /* Полная ширина для удобства на мобильных устройствах */
}

input[type="submit"] {
    padding: 12px 25px;
    background-color: #47e84c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}



#control {
    position: relative; /* Относительное позиционирование для контейнера */
}


.icon {
    position: absolute; /* Абсолютное позиционирование для иконок */
    text-align: center; /* Центрирование текста под иконкой */
} 

.battery-icon {
    top: 18px;  /* Вертикальная позиция */
    left: 170px; /* Горизонтальная позиция */
}

.inverter-icon {
    top: 25px;
    left: 60px;
}

.power-grid-icon {
    top: 0px;
    left: 0px;
}

.power-icon {
    top: 25px;
    left: 250px;
}

.WindTurbineIcon {
    top: 100px;
    left: 0;
}

.FlyWheelIcon {
    top: 100px;
    left: 90px;
}

.icon svg {
    display: block;
    margin: 0 auto; /* Для центрирования SVG внутри блока */
}

.icon p {
    margin-top: 5px;
    font-size: 12px;
}


/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(143, 137, 137, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    font-size: 0.9em;  /* Уменьшаем размер шрифта */
    padding: 15px;    /* Сужаем внутренние отступы */
    border-radius: 5px;
    text-align: center;
    align-items: center;
    width: 50%; /* Фиксированная ширина для всех модальных окон */
    max-width: 350px; /* Ограничение по максимальной ширине */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Для более красивого отображения */
}
.modal h2, .modal h3 {
    font-size: 1.2em;  /* Уменьшаем размер заголовков */
    margin: 10px 0;    /* Сокращаем отступы заголовков */
}

.modal input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.modal button {
    cursor: pointer;
    padding: 6px 10px;
    font-size: 0.85em;
    border-radius: 4px;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Новые стили */

.phase-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;   /* Уменьшаем отступы сверху и снизу */
    margin-bottom: 15px;
    font-size: 0.8em;
}

.phase-table th, .phase-table td {
    border: 1px solid #ddd;
    padding: 4px;      /* Уменьшаем внутренний отступ для компактности */
    height: 20px;      /* Задаем фиксированную высоту строки */
    text-align: center;
}


.phase-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    height: 26px;      /* Немного больше высота для заголовка */
}
/* Стили для строк с вводом данных */

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 3px; /* Уменьшаем отступ между строками */
    gap: 5px;           /* Используем gap для сокращения расстояния между label и input */
    
}

/* Стили для label (наименований параметров) */
.input-row label {
    flex: 1; /* Растягиваем label, чтобы текст располагался слева */
    align-items: center;
    margin-right: 3px; /* Отступ между текстом и полем ввода */
    height: 20px;  
}

/* Стили для input */
.input-row input[type="number"] {
    flex: 0; /* Не растягиваем поле ввода */
    width: 45px; /* Фиксированная ширина для числового ввода */
   /* border: none;  Убираем рамку */
    border: 2px solid #747373;
    border-radius: 3px;
    height: 20px;  
    background-color: transparent; /* Убираем фон */
    text-align:left; /* Выравниваем текст */
}

/* Ползунок (input[type="range"]) оставляем как есть */
.input-row input[type="range"] {
    flex: 0; /* Ползунок растягивается по ширине */
}

/* Кнопка Сохранить */
button {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 12px; /* Уменьшаем высоту и ширину кнопок */
    margin-right: 5px; /* Разделяем кнопки отступом */
}
 
button:hover {
    background-color: #337e37;
}

.switches-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.flywheel-data p, .coil-switches h3 {
    margin: 10px 0;
}

.switch {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.switch input {
    display: none;
}

.switch .slider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(7, 206, 7);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Стиль для индикатора соединения */
.status-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red; /* По умолчанию красный (нет соединения) */
    margin-right: 10px;
}

/* Если соединение активное — цвет зелёный */
.status-indicator.active {
    background-color: rgb(7, 206, 7);
}