body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}


  /* Стили для контейнера вкладок */
  .tabs {
    display: flex; /* Вкладки располагаются в строку */
    border-bottom: 1px solid #ccc; /* Нижняя граница под вкладками */
}

/* Стили для каждой вкладки */
.tab {
    flex: 1; /* Вкладки занимают равную ширину */
    text-align: center; /* Центрируем текст внутри вкладок */
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc; /* Горизонтальная граница между вкладками */
}

/* Убираем правую границу у последней вкладки */
.tab:last-child {
    border-right: none;
}

/* Контент вкладок */
.tabcontent {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none; /* Убираем верхнюю границу, чтобы она не пересекалась с вкладками */
    margin-top: 0;
}

/* Стиль для активной вкладки */
.tab.active {
    background-color: #4CAF50;
    border-bottom: 1px solid #fff; /* Имитируем активную вкладку */
}

/* Активный контент вкладки */
.tabcontent.active {
    display: block;
}

/* Стиль для контейнера графика */
#chartContainer {
    width: 100%;
    height: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #4de752;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 15px;
    padding: 12px 15px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 12px 25px;
    background-color: #47e84c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.icon {
    text-align: center;
}

.icon svg {
    margin-bottom: 10px;
} 


#control {
    position: relative; /* Относительное позиционирование для контейнера */
}

.icon {
    position: absolute; /* Абсолютное позиционирование для иконок */
    text-align: center; /* Центрирование текста под иконкой */
}

.battery-icon {
    top: 27px;  /* Вертикальная позиция */
    left: 170px; /* Горизонтальная позиция */
}

.inverter-icon {
    top: 33px;
    left: 60px;
}

.power-grid-icon {
    top: 15px;
    left: 0px;
}

.power-icon {
    top: 25px;
    left: 250px;
}

.icon svg {
    display: block;
    margin: 0 auto; /* Для центрирования SVG внутри блока */
}

.icon p {
    margin-top: 5px;
    font-size: 12px;
}


/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 50%; /* Фиксированная ширина для всех модальных окон */
    max-width: 600px; /* Ограничение по максимальной ширине */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Для более красивого отображения */
}

.modal input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.modal button {
    padding: 10px 20px;
    cursor: pointer;
}
/* Стиль для индикатора соединения */
.status-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red; /* По умолчанию красный (нет соединения) */
    margin-right: 10px;
}

/* Если соединение активное — цвет зелёный */
.status-indicator.active {
    background-color: green;
}
/* Новые стили */
